<div class="panel panel-default post-preview">
   	<div class="row">
    	<div class="col-xs-2">
    		<div class="post-thumbnail">
    			<img class="img-responsive center-block" ng-src="{{post.author.profile_photo}}" />
   			</div>
    	</div>
    	<div class="col-xs-10">
       <h3 class="post-title"><a ng-href={{post.link}}>{{post.title}}</a></h3>
       <p class="preview-text">{{post.subtitle}}</p>
       <span class="post-author">By {{post.author.name}}</span>
       <span class="post-date">{{post.post_date | date: "MMM d, y h:mm a"}}</span>
      </div>
     </div>
</div>