<div class="panel panel-default post-preview">
   	<div class="row">
    	<div class="col-xs-2">
    		<div class="post-thumbnail">
    			<img class="img-responsive center-block" src="http://www.softwareag.com/us/images/PlazaAmerica_tcm89-22312.jpg" />
   			</div>
    	</div>
    	<div class="col-xs-10">
    		<span class="pull-right"><a on="edit.do">Edit</a></span>
    		<h3 class="post-title"><a href={{post.link}}>{{post.title}}</a></h3>
	        <p class="preview-text">{{post.subtitle}}</p>
	        <span class="post-author">By <a href={{post.author.link}}>{{post.author.name}}</a></span>
	  		<span class="post-date">{{post.post_date | date: "MMM d, y h:mm a"}}</span>
      </div>
     </div>
</div>