<!doctype html>
<html>
<head>
<title>Home | Revature Blogs</title>
<base href="/revblogs/" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="http://blogs.pjw6193.tech/content/resources/css/main.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="http://blogs.pjw6193.tech/content/resources/js/app.js"></script>
<script src="http://blogs.pjw6193.tech/content/resources/js/controllers/BlogIndexController.js"></script>
<script src="http://blogs.pjw6193.tech/content/resources/js/controllers/ng-enhanced-search.js"></script>
<link rel="shortcut icon" type="image/png" href="/content/resources/img/favicon.png"/>
</head>

<body ng-app="app" ng-controller="BlogIndexController">
  <nav class="page-navigation navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="http://blogs.pjw6193.tech/content/resources/img/rev-brand.png" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="navs" class="nav navbar-nav">
          <li id="navhome" class="active"><a href="/">Home</a></li>
        </ul>
        <ul id="rightnavs" class="nav navbar-nav navbar-right">
		    <li id="navlogin"><a ng-href="{{appUrl}}/loginPage"><span class="glyphicon glyphicon-user"></span>&nbsp;Contributors</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="overall-container">
  <div class="container page-content content-padding">
  	<div class="row">
  		<div class="col-xs-12">
	        <h2 ng-show="searchPage">Search Results for: {{savedQuery}}</h2>
	        <h2 ng-show="!searchPage">Latest Posts</h2>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-xs-12">
  			<form>
			  <div class="form-group post-search">
			    <div class="input-group">
					<input id="searchBox" class="form-control" type="text" placeholder="Search"
						ng-model="searchQuery"
						ng-change="searchQueryChanged()"
						ng-blur="searchLostFocus($event)"
						ng-keyup="keyup($event)">
					</input>
					<span class="input-group-btn">
					  <button ng-click="doSearch()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
				<div class="input-group">
				  <select id="selections" size="6" class="form-control suggestions"
					ng-model="selectedSuggestion"
					ng-show="suggestionsShown"
					ng-blur="searchLostFocus($event)"
					ng-options="suggestion.searchQuery as suggestion.displayText for suggestion in suggestions">
				  </select>
				  <!-- Hidden, non-functional copy of the above button to fix alignment of suggestions -->
				  <span class="input-group-btn" style="visibility: hidden;">
					  <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
				  </span>
			    </div>
			  </div>
			</form>
  		</div>
  	</div>
  	<img id="loading" src="http://blogs.pjw6193.tech/content/resources/img/rev.gif" />
    <div id="postsDiv" class="row">
      <div class="col-sm-8">
        <div>
      		<div ng-repeat="post in displayPosts" ng-if="!$first" ng-include src="'http://blogs.pjw6193.tech/content/resources/js/templates/post-preview.html'"></div>
        </div>
      </div>
      <div class="col-sm-4 hidden-xs">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Learn more about Revature</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a target="_blank" href="http://revature.com">Revature</a></li>
              <li><a target="_blank" href="http://lifeatrevature.com">Life at Revature</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Customize posts to view -->
  	<button ng-show="searchPage===true" ng-click="clearSearch()">Clear Search Results</button>

	  <div id="postsPerPage">
	  	<label>Number of posts to show: </label>
	  	<select  ng-model="postsPerPage" ng-change="getPage(curPage, postsPerPage)">
	  		<option ng:class="{true:'disabled', false:'enabled'}[postsPerPage == 5]">5</option>
	  		<option ng:class="{true:'disabled', false:'enabled'}[postsPerPage == 10]" selected>10</option>
	  		<option ng:class="{true:'disabled', false:'enabled'}[postsPerPage == 20]">20</option>
	  	</select>
	  </div>
	  
	  <!-- PAGINATION -->
	  <nav id="pageNumsNav" aria-label="...">
	  	<div>
	  	<ul id="pageNums" class="pagination">
	   	  <li ng:class="{true:'disabled', false:'enabled'}[curPage == 1 || isLoading]" ng-click="changeView(curPage-1)"><a id="previous" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	 		<li ng:class="{true:'active', false:''}[number == curPage]" ng-repeat="number in numOfPages" ng-if="number > 0"> <a ng-click="changeView(number)">{{number}}</a> </li>
	   	  <li ng:class="{true:'disabled', false:'enabled'}[curPage == numOfPages || isLoading]" ng-click="changeView(curPage+1)"><a id="next" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	  	</ul>
	  	</div>
	  </nav>
  <!-- PAGINATION -->
  </div>
  <div class="footer2">
  <!-- FOOTER -->
  <div class="footer">
	    <div class="container">
	      <div class="row">
	        <div class="col-sm-4">
	          <img class="img-responsive" src="http://blogs.pjw6193.tech/content/resources/img/rev-footer.png" />
	        </div>
	        <div class="col-sm-4">
	        	<h4>Contact Info</h4>
	        	<span class="glyphicon glyphicon-home"></span><span>&nbsp;11730 Plaza America Drive<br>Reston, VA 20190</span><br>
	        	<span class="glyphicon glyphicon-earphone"></span><a href="tel:(703) 570-8282">&nbsp;(703) 570-8282</a><br>
	        	<span class="glyphicon glyphicon-envelope"></span><a href="mailto:info@revature.com">&nbsp;info@revature.com</a><br>
	        	<span class="glyphicon glyphicon-link"></span><a target="_blank" href="http://revature.com">&nbsp;revature.com</a>
	        </div>
	        <div class="col-sm-4">
	        	<a href="/">Home</a><br>
	        	<a ng-href="{{appUrl}}/loginPage">Contributors - Log In</a><br>
	        </div>
	      </div>
	    </div>
	</div>
	</div>
  </div>
  <input type="hidden" ng-model="blogsPerPage">
  <input type="hidden" ng-model="curPage">
  <input type="hidden" ng-model="nextPagePosts">
  <input type="hidden" ng-model="prevPagePosts">
  <input type="hidden" ng-model="searchPage">
  <input type="hidden" ng-model="searchPosts">
  <input type="hidden" ng-model="numOfPages">
  
</body>

<script type="text/javascript" src="http://blogs.pjw6193.tech/content/resources/js/ui.js"></script>
</html>
