<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<mvc:resources location="WEB-INF/resources/" mapping="resources/**"/>
	
	<aop:aspectj-autoproxy/>

	<bean name="dataSource" 
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@db.pjw6193.tech:1521:orcl" />
		<property name="username" value="dan" />
		<property name="password" value="pickles" />
	</bean>
	<bean name="logging" class="com.revature.service.Logging">
		
	</bean>
	<bean name="baseController" class="com.revature.controllers.BaseController">
		<property name="businessDelegate" ref="businessDelegate" />
		<property name="population" ref="population" />
		<property name="logging" ref="logging" />
	</bean>
	<bean name="ajaxController" class="com.revature.controllers.AjaxController">
		<property name="businessDelegate" ref="businessDelegate" />
	</bean>
	<bean name="postController" class="com.revature.controllers.PostController">
		<property name="businessDelegate" ref="businessDelegate" />
	</bean>
	<bean name="getController" class="com.revature.controllers.GetController">
		<property name="businessDelegate" ref="businessDelegate" />
		<property name="logging" ref="logging" />
	</bean>
	<bean name="businessDelegate" class="com.revature.service.impl.BusinessDelegateImpl">
		<property name="dataService" ref="dataService" />
		<property name="serviceLocator" ref="serviceLocator" />
	</bean>
	<bean name="serviceLocator" class="com.revature.service.impl.ServiceLocatorImpl"></bean>
	<bean name="dao" class="com.revature.data.impl.DAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean name="dataService" class="com.revature.data.impl.DataServiceImpl">
		<property name="dao" ref="dao" />
	</bean>
	<bean name="population" class="com.revature.service.Population">
		<property name="delegate" ref="businessDelegate" />
		<property name="logger" ref="logging" />
	</bean>
	<bean name="jetS3" class="com.revature.service.impl.JetS3Impl">
		<property name="businessDelegate" ref="businessDelegate" />
<!-- 		<property name="logging" ref="logging" /> -->
	</bean>
	<bean id="cryptImpl" class="com.revature.service.impl.CryptImpl">
		<property name="businessDelegate" ref="businessDelegate"/>
		<property name="getController" ref="getController"/>
	</bean>
	
	<tx:annotation-driven />

	<bean name="transactionManager" 
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.revature.beans" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle10gDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">
					update
				</prop>
				<prop key="hibernate.search.default.directory_provider">
					filesystem
				</prop>
				<prop key="hibernate.search.default.indexBase">
					/var/hibernate/indexes
				</prop>
			</props>
		</property>
		
	</bean>
</beans>