<div class="panel panel-default post-preview">
   	<div class="row">
    	<div class="col-xs-2">
    		<div class="post-thumbnail">
    			<img class="img-responsive center-block" src="http://www.softwareag.com/us/images/PlazaAmerica_tcm89-22312.jpg" />
   			</div>
    	</div>
    	<div class="col-xs-10">
       <h3 class="post-title"><a href="#">Microservices and You: A brief introduction to the world of microservices</a></h3>
       <p class="preview-text">Blah blah blah blah blah</p>
       <span class="post-author">By Dan Pickles</span>
      </div>
     </div>
</div>